@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-grid {
  display: grid;
  grid-template-columns: repeat(18, 48px);
  grid-template-rows: repeat(10, 53px);
}